{% extends 'base.html' %}

{% block titulo %}
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div class="row">
      <div class="col">

      </div>
      <div class="col-6">
        <video src="static/videos/video1.mp4" width="100%" height="500px" loop autoplay controls muted></video>
        <video src="static/videos/video2.mp4" width="100%" height="500px" loop autoplay controls muted></video>
        <video src="static/videos/video3.mp4" width="100%" height="500px" loop autoplay controls muted></video>
      </div>
      <div class="col">

      </div>
    </div>
{% endblock contenido%}
